<!doctype html>
{% extends "base.html" %}

{% block head %}
<title>Bulk Reverse Image Search -- Giant Oak</title>
<link rel='stylesheet' href="{{ url_for('static',
filename='css/index.css') }}" >

{% endblock %}

{% block content %}
<div class='intro-title'>Bulk reverse image search demo</div>
<div class='intro-text'>Upload files for reverse image search</div>
<div class='warning-text'>Warning: files will be exposed to the
    public internet for several seconds during the image search.</div>

<form method="POST" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file[]" multiple="">
    <input type="submit" value="add">
</form>
{% endblock %}
